<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>出欠参照</title>
	 <link href="/css/sanitize.css" th:href="@{/css/sanitize.css}" rel="stylesheet"></link>
	 <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
	<div class="content">
		<h1>出欠参照</h1>
		<br />
		<b><p th:text="イベント名：+ ${eventName}" />
		<p th:text="メモ：+ ${memo}" /></b>

		<table border="1" cellpadding="10" align="left" width="240px">
			<tr height="10px">
				<th width="60px">日程</th>
				<th width="60px">〇</th>
				<th width="60px">△</th>
				<th width="60px">×</th>
			</tr>

			<tbody th:remove="all-but-first" th:each="answerAggregate : ${answerAggregateList}" align="center" width="60px">
				<tr>
					<td th:text="${answerAggregate.eventSchedule}"></td>
					<td th:text="${answerAggregate.circleCnt}"></td>
					<td th:text="${answerAggregate.triangleCnt}"></td>
					<td th:text="${answerAggregate.crossCnt}"></td>
				</tr>
			</tbody>
		</table>
<div style="width:690px; overflow-x:auto;">
		<table border="1" cellpadding="10" align="left">
			<tr height="10px">
				<th th:text="${answererName}" th:each="answererName : ${answererNameList}" width="60px"/>
			</tr>

			<tbody th:remove="all-but-first" th:each="map : ${answerMap}" align="center">
				<tr>
					<td th:text="${map.key}" width="100" />
					<td th:text="${value}" th:remove="all-but-first" th:each="value : ${map.value}" />
				</tr>
			</tbody>
		</table>
</div>
	</div>
</body>
</html>