<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>出欠回答</title>
	 <link href="/css/sanitize.css" th:href="@{/css/sanitize.css}" rel="stylesheet"></link>
	 <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
	<div class="content">
		<h1>出欠回答</h1>
		<br />
		<p>イベント名</p>
		<p th:text="${eventName}" />

		<p>イベントメモ</p>
		<p th:text="${Memo}" />

		<form method="post" action="#" th:action="@{/eventAnswer}" th:object="${answerForm}" th:name="answerForm" onSubmit="radioChecked()">
			<p>表示名</p>
			<input type="text" th:field="*{answererName}" />
			<div th:each="eventSchedule : ${answerForm.eventScheduleList}">
				<b><p th:text="${eventSchedule}" /></b>
				<input type="radio" th:name="${eventSchedule}" th:value="1" /> ○　
				<input type="radio" th:name="${eventSchedule}" th:value="2" checked="checked" /> △　
				<input type="radio" th:name="${eventSchedule}" th:value="3" /> ×　
			</div>
			<p>コメント</p>
			<input type="text" th:field="*{answerComment}" />

			<input type="hidden" th:field="${answerForm.eventId}" />
			<input type="hidden" th:field="${answerForm.eventScheduleList}" />
			<input type="hidden" th:field="*{checkList}" />
			<div class="div_3">
				<input type="submit" class="button" value="回答" />
			</div>
		</form>
	</div>
</body>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
function radioChecked() {

	var array = [];

	// form内にあるradioでcheckついてるやつ
	var flag = false;

	for (var i=0; i < document.answerForm.elements.length-1; i++) {
		if (document.answerForm.elements[i].checked) {
			flag = true;
			// 配列に突っ込み
			array.push(document.answerForm.elements[i].value);
		}
	}
	// hiddenに配列を文字列(カンマ区切り)にしたのを設定
	document.getElementById("checkList").value = array.join(',');
}
/*]]>*/
</script>

</html>