<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>イベント登録</title>
	 <link href="/css/sanitize.css" th:href="@{/css/sanitize.css}" rel="stylesheet"></link>
	 <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
	<div class="content">
		<h1>イベント情報登録</h1>
		<h2>30秒でつくれる！カンタン出欠表</h2>
		<br />

		<form method="post" action="#" th:action="@{/eventAddResult}" th:object="${eventAddForm}" onSubmit="return check()">
			<div class="div_1">
				<b>■STEP1 イベント名</b><br />
				※今期もお疲れ様でした飲み会、打ち合わせなど<br />
				<input type="text" th:field="*{eventName}" />
			</div><br /><br /><br /><br />

			<div class="div_1">
				<b>■メモ(任意)</b><br />
				※飲み会の日程調整しましょう！<br />
				出欠〆切は◯日<br />
				<textarea rows="10" cols="48" th:field="*{memo}" /><br />
			</div>

			<div class="div_2">
				<b>■STEP2 候補日程</b><br />
				※候補日程／日時を入力してください<br />
				候補の区切りは改行で判断されます。<br />
				<textarea rows="10" cols="48" placeholder="候補の区切りは改行で判断されます。" th:field="*{eventSchedule}" />
			</div><br />

			<div class="div_3">
				<input type="submit" class="button" value="イベントを作成する" />
			</div>
		</form>
	</div>
</body>
</html>