<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>イベント登録結果</title>

	 <link href="/css/sanitize.css" th:href="@{/css/sanitize.css}" rel="stylesheet"></link>
	 <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
	<div class="content">
		<h1>イベント情報登録完了</h1>
		<p>イベントが作成されました。以下のURLをメール等を使って皆に知らせてあげましょう。</p>
		<p>以降、このURLページにて各自の出欠情報を入力してもらいます。</p>

		<p>イベント回答URL：<input type="text" class="url" th:value="*{eventUrl}" /></p>

		<div class="div_3">
			<input type="hidden" th:value="*{eventId}" />
			<input type="submit" class="button" value="出欠参照" />
		</div>
	</div>
</body>

</html>