<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>動画一覧</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
</head>
<body>

	<!-- jQuery、Popper.js、Bootstrap JS -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<!-- ボタン -->
		<button type="button" class="btn btn-primary" id="video-upload" data-toggle="modal" data-target="#demoNormalModal">動画アップロード</button>

		<!-- モーダルダイアログ -->
		<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="demoModalTitle">動画アップロード</h5>
					</div>

					<form id="data-upload-form" th:object="${videoInfo}" name="videoInfo" enctype="multipart/form-data" method="post">
						<div class="modal-body">タイトル</div>
						<input type="text" th:field="*{title}" size="30" />

						<div class="modal-body">説明</div>
						<textarea rows="5" cols="48" th:field="*{note}" />

						<div class="modal-body">ファイル</div>
						<input type="file" name="example" size="30" th:field="*{video}" />

						<div class="modal-footer">
							<button  class="btn btn-secondary" data-dismiss="modal">閉じる</button>
							<input class="btn btn-primary" id="data_upload_button" type="submit" value="アップロード" />
						</div>
					</form>

					<div class="upload-complete" id="upload-complete">
						<div class="modal-body" id="upload-sucsess">アップロードが完了しました</div>
						<div class="modal-body" id="upload-failed">アップロードが失敗しました</div>
						<div class="modal-body" id="title-required-error">・動画タイトルは必須です。</div>
						<div class="modal-body" id="file-required-error">・ファイルを選択して下さい。</div>
						<div class="modal-body" id="file-type-error">・動画ファイル以外はアップロード出来ません。</div>
						<div class="modal-body" id="file-size-error">・サイズ上限を超えているためアップロード出来ません。</div>
						<div class="modal-footer">
							<button  class="btn btn-secondary" data-dismiss="modal">閉じる</button>
							<input class="btn btn-primary" id="upload-continue" type="submit" value="続ける" />
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

<script th:inline="javascript">
/*<![CDATA[*/
// 主処理部
$(function(){

	// アップロードダイアログ表示時
	$("#video-upload").click(function(event){
		document.videoInfo.reset();
		document.getElementById('data-upload-form').style.display = 'block';
		document.getElementById('upload-complete').style.display = 'none';

		document.getElementById('title-required-error').style.display = 'none';
		document.getElementById('file-required-error').style.display = 'none';
		document.getElementById('file-type-error').style.display = 'none';
		document.getElementById('file-size-error').style.display = 'none';
	});

	// アップロードボタンを押下
	$("#data-upload-form").submit(function(event){
		var errorFlag = false;
		// タイトル
		if(document.videoInfo.title.value == "") {

			document.getElementById('data-upload-form').style.display = 'none';
			document.getElementById('upload-complete').style.display = 'block';
			document.getElementById('upload-sucsess').style.display = 'none';
			document.getElementById('upload-failed').style.display = 'block';

			document.getElementById('title-required-error').style.display = 'block';
			errorFlag = true;
		}

		// video
		if(document.videoInfo.video.value == "") {
			document.getElementById('data-upload-form').style.display = 'none';
			document.getElementById('upload-complete').style.display = 'block';
			document.getElementById('upload-sucsess').style.display = 'none';
			document.getElementById('upload-failed').style.display = 'block';

			document.getElementById('file-required-error').style.display = 'block';
			errorFlag = true;
		}

		// 要素規定の動作をキャンセルする
		event.preventDefault();

		if (!errorFlag) {
			var formData = new FormData($(this)[0]);

			var hostUrl= 'http://localhost:8080/sakaTube/videoUpload';

			$.ajax({
				url: hostUrl,
				type:'POST',
				dataType: 'json',
				processData: false,
				contentType: false,
				data : formData,
			}).done(function(data) {
				document.getElementById('data-upload-form').style.display = 'none';
				document.getElementById('upload-complete').style.display = 'block';
				if (data.uploadSuccess == "1") {
					document.getElementById('upload-sucsess').style.display = 'block';
					document.getElementById('upload-failed').style.display = 'none';
				} else {
					document.getElementById('upload-sucsess').style.display = 'none';
					document.getElementById('upload-failed').style.display = 'block';
					if (data.titleRequiredError == "1") {
						document.getElementById('title-required-error').style.display = 'block';
					}
					if (data.fileRequiredError == "1") {
						document.getElementById('file-required-error').style.display = 'block';
					}
					if (data.fileTypeError == "1") {
						document.getElementById('file-type-error').style.display = 'block';
					}
					if (data.fileSizeError == "1") {
						document.getElementById('file-size-error').style.display = 'block';
					}
				}
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				document.getElementById('upload-sucsess').style.display = 'none';
				document.getElementById('upload-failed').style.display = 'block';
			})
		}
	});

	// 続けるボタンを押下
	$("#upload-continue").click(function(event){
		document.videoInfo.reset();

		document.getElementById('data-upload-form').style.display = 'block';
		document.getElementById('upload-complete').style.display = 'none';
	});
});

/*]]>*/

</script>

</html>